<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmQTEjXumPOXGYVc4SKf9dbkPaW8CqNp4</string>
	<key>GCM_SENDER_ID</key>
	<string>1042375285915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auctora</string>
	<key>PROJECT_ID</key>
	<string>auctora-cbf7c</string>
	<key>STORAGE_BUCKET</key>
	<string>auctora-cbf7c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042375285915:ios:706f985b337328ee88fa3e</string>
</dict>
</plist>